<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Inicio | Pet-Shop</title>

  <link rel="shortcut icon" href="./assets/img/logo-2.png" type="image/x-icon">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css'>
  <link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/boxicons@2.0.2/css/boxicons.min.css'>
  <link href="https://cdn.jsdelivr.net/gh/yesiamrocks/cssanimation.io@1.0.3/cssanimation.min.css" rel="stylesheet">


  <link rel="stylesheet" href="style.css">


</html>

<body class="loader aparecer">

  <div id="app" v-cloak class="loader__element">

    {{cantidadTotalEnCarrito}}

    {{verificarContador(productosEnOfertas)}}

    <!--Primer Parrafo -->
    <div class="utility-nav d-none d-md-block ">
      <div class="container">
        <div class="row ">
          <div class="col-12 col-md-6">
            <p class="small"><i class="bx bx-envelope"></i> logo@example.com | <i class="bx bx-phone"></i> +54 9 11
              3431-0411
            </p>
          </div>

          <div class="col-12 col-md-6 text-right">
            <p class="small">Envío gratis en compras de mas de $2000 </p>
          </div>
        </div>
      </div>
    </div>

    <!-- Navbar -->
    <header>
      <!--Nav-->

      <nav class="navbar navbar-expand-md   main-menu" style="box-shadow:none">
        <div class="container">

          <button type="button" id="sidebarCollapse" class="btn btn-link d-block d-md-none">
            <i class="bx bx-menu icon-single"></i>
          </button>

          <a class="navbar-brand" href="#">
            <img class="logo" src="./assets/img/logo" alt="">
          </a>

          <ul class="navbar-nav d-flex flex-row navbar-nav ml-auto d-md-none align-items-center ">
            <li>
              <img class="dog-cat" :src=" CatDog.imagen" healt="" @click="estiloCatDog()">
              
            </li>
            <li class="nav-item">

              <a class="btn btn-link text-decoration-none" href="carrito.html"><i class="bx bxs-cart icon-single"></i>
                <span class="badge badge-danger">{{cantTotalCarro}}</span></a>

            </li>
          </ul>

          <div class="collapse navbar-collapse" >
            <div class="form-inline my-2 my-lg-0 mx-auto">
              <nav class="navbar navbar-expand-md sub-menu">
                <div class="container">
                  <div class="collapse navbar-collapse" id="navbar">
                    <ul class="navbar-nav mx-auto">
                      <li class="nav-item" >
                        <a class="nav-link active" href="#" >Inicio <span class="sr-only">(current)</span></a>
                      </li>
                      <li class="nav-item ">
                        <a class="nav-link" href="./farmacia.html">Farmacia</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="./jugueteria.html">Jugueteria</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="./contacto.html">Contacto</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </nav>
            </div>

            <ul class="navbar-nav">
              <div class="d-flex align-items-center">
                <img class="dog-cat" :src="CatDog.imagen" healt="" @click="estiloCatDog()">
                
              </div>
              <li class="nav-item">

                <a class="btn btn-link text-decoration-none" href="carrito.html"><i class="bx bxs-cart icon-single"></i>
                  <span class="badge badge-danger">{{cantTotalCarro}}</span></a>

              </li>
            </ul>
          </div>
        </div>
      </nav>

      <!-- Sidebar -->
      <nav id="sidebar">
        <div class="sidebar-header">
          <div class="container">
            <div class="row align-items-center">
              <div class="col-2 text-left">
                <button type="button" id="sidebarCollapseX" class="btn btn-link">
                  <i class="bx bx-x icon-single cruz"></i>
                </button>
              </div>
            </div>
          </div>
        </div>

        <ul class="list-unstyled components links">
          <li class="active">
            <a class="text-decoration-none" href="#"><i class="bx bx-home mr-3"></i>Inicio</a>
          </li>
          <li>
            <a class="text-decoration-none" href="./farmacia.html"><i class="fa-solid fa-stethoscope"></i></i>
              Farmacia</a>
          </li>
          <li>
            <a class="text-decoration-none" href="./jugueteria.html"><i class="fa-solid fa-futbol"></i> Jugeteria</a>
          </li>
          <li>
            <a class="text-decoration-none" href="./contacto.html"><i class="fa-solid fa-comment"></i> Contacto</a>
          </li>
        </ul>

      </nav>
    </header>

    <!-- Banner Inicio -->
    <section class="container_banner">

      <div class="container_banner_text">
        <h1 class="">Franco Pet-Shop</h1>
      </div>

    </section>
    <!-- 3 Cards con informacion -->
    <section class="container_qualities container">
      <div>
        <div class="row_qualities">
          <div class="service">
            <img src="assets/img/1.png"
              style="transform: translate(-18.5px, -17.05px) scale(0.633333); width: 100px; height: 93px;">
            <h3> Compra segura </h3>
            <p>
              Gestionamos tus datos con absoluta confidencialidad. </p>
          </div>
          <div class="service">
            <img src="assets/img/2.png"
              style="transform: translate(-18.5px, -17.05px) scale(0.633333); width: 100px; height: 93px;">
            <h3> Medios de pago </h3>
            <p>
              Aceptamos pagos en efectivo y con tarjetas a través de Mercado Pago.</p>
          </div>
          <div class="service">
            <img src="assets/img/3.png"
              style="transform: translate(-18.5px, -17.05px) scale(0.633333); width: 100px; height: 93px;">
            <h3> Envíos sin cargo </h3>
            <p>
              Si vivís hasta 6 km de cada sucursal el delivery es gratis.
            </p>
          </div>

        </div>
      </div>

    </section>

    <!-- Redireccion a farmacia y jugueteria-->
    <section class="container_shop">
      <a class="pharmacy" href="farmacia.html">
        <h3>FARMACIA</h3>
      </a>
      <a class="toystore" href="jugueteria.html">
        <h3>JUGUETERIA</h3>

      </a>
    </section>

    <!-- Contenido con menos stocks -->
    <section class="container_product_filter">

      <!-- Titulo de menos stocks-->
      <div class="container_filter_text">
        <h3>NO TE QUEDES SIN TU PRODUCTO!</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum, doloribus?</p>
      </div>

      <!-- Productos con menos stocks-->

      <section class="container_product_filter">
        <div class="container_filter_card">
          <div class="container">
            <div class="row">
              <!-- Si no hay resultados-->


              <!-- Comienza el ciclo v-for de los productos -->
              <div class=" d-flex flex-column align-items-center justify-content-center product-item my-3"
                v-for="producto in productosEnOfertas">
                <div class="product"> <img v-bind:src="producto.imagen" :alt="producto.nombre">
                  <ul class="d-flex align-items-center justify-content-center list-unstyled icons">

                    <!-- Icono de ver mas(MODAL)-->
                    <li class="icon">
                      <a data-bs-toggle="modal" data-bs-target="#ejemplo" @click="verDetalles(producto)"
                        class="fas fa-expand-arrows-alt">
                      </a>
                    </li>

                    <!-- Icono de agregar al carrito class="fas fa-shopping-bag" -->
                    <li class="icon" :style="producto.contador<1 ? '' : 'display:none'">
                      <a class="fas fa-shopping-bag"
                        @click="agregarAlCarrito(producto,'Su producto se ha agregado')"></a>
                    </li class="icon">

                    <!--Icono para quitar producto -->
                    <li class="icon"
                      :style="(producto.contador>0 && producto.contador <= producto.stock ) ? '' : 'display:none'">
                      <a class="fa fa-minus"
                        @click="quitarUnidadProducto(producto,'Su producto se ha eliminado de su carrito')"></a>
                    </li class="icon">

                    <!-- Icono de agregar producto + y - -->
                    <li class="icon"
                      :style="(producto.contador>0 && producto.contador< producto.stock ) ? '' : 'display:none'">
                      <a class="fa fa-plus" @click="agregarAlCarrito(producto,'Su producto se ha agregado')"></a>
                    </li class="icon">


                    <!--Quitar producto del carrio -->
                    <li class="icon" :style="producto.contador>0 ? '' : 'display:none ' ">
                      <a class="fa fa-trash "
                        @click="quitarDelCarrito(producto,'Su producto se ha eliminado de su carrito')"></a>
                    </li>

                  </ul>
                </div>

                <!--Informacion de las cards-->
                <div class="contador">
                  <p :style="producto.contador>0   ? '' : 'display:none'">Productos en carrito: {{producto.contador}}
                  </p>
                </div>
                <div v-if="producto.stock<5" class="tag">Ultimas unidades</div>
                <div class="title pt-4 pb-1">
                  <p style="text-align: center;">{{producto.nombre}}</p>
                </div>
                <div class="price">$ {{producto.precio}}</div>

              </div>
            </div>
          </div>
        </div>

      </section>

      <!-- Modal -->
      <div class="modal fade" id="ejemplo" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <p class="card-title">{{productoModal.nombre}}</p>

              <button type="button" class="btn-close fa fa-times" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body d-flex flex-column">

              <div class="card my-2 mx-2 align-items-center d-flex flex-wrap" style="width: 18rem">
                <img v-bind:src="productoModal.imagen" class="card-img-top" :alt="productoModal.nombre" />
                <div class="card-body">

                  <h4 class="card-text card-textfixed" id="">{{productoModal.descripcion}}</h4>


                  <p class="card-text card-textfixed">Stock disponible: {{productoModal.stock}}</p>
                  <p class="card-text card-price">Precio: ${{productoModal.precio}}</p>



                </div>

              </div>

              <!-- Modal -->
              <div class="modal-footer d-flex flex-column">
                <div class=" d-flex pruebacarrito ">

                  <a :style="productoModal.contador<1 ? '' : 'display:none'" class="btn"
                    @click="agregarAlCarrito(productoModal,'Su producto se ha agregado')"> <i
                      class="fas fa-shopping-bag"></i> Agregar al carrito </a>
                  <div class="hola1">
                    <a :style="(productoModal.contador>0 && productoModal.contador< productoModal.stock ) ? '' : 'display:none'"
                      class="btn" @click="agregarAlCarrito(productoModal,'Su producto se ha agregado')"><i
                        class="fa fa-plus"></i> Añadir producto</a>

                    <a :style="(productoModal.contador>0 && productoModal.contador <= productoModal.stock ) ? '' : 'display:none'"
                      class="btn" @click="quitarUnidadProducto(productoModal,'Su producto se ha quitado')"><i
                        class="fa fa-minus"></i> Quitar producto</a>
                  </div>

                  <div :style="productoModal.contador>0   ? '' : 'display:none'">
                    <p>Productos en carrito:
                      {{productoModal.contador}}
                    </p>
                  </div>
                  <br>
                  <a :style="productoModal.contador>0 ? '' : 'display:none'" class="btn " id="trashmodal"
                    @click="quitarDelCarrito(productoModal,'Su producto se ha quitado')"><i class="fa fa-trash"></i>
                    Quitar Del
                    Carrito</a>
                </div>

              </div>
            </div>
          </div>
        </div>

        <!-- Mensaje alerta -->
        <div class="toast-container position-fixed top-0 end-0 p-3">
          <div id="liveToast" class="toast " role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-header">
              <!-- <img src="..." class="rounded me-2" alt="..."> -->


              <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
            <div class="toast-body" id="agregar">

            </div>
          </div>
        </div>





      </div>






    </section>


    <!--Sobre nosotros-->
    <section class="sobre_nosotros container">
    
      <div class="sobre_nosotros_box1">
       
      </div>

      <div class="sobre_nosotros_box2">
        
        <h2>Tu Mascota hace parte de nosotros</h2>
        <p>En Pet Shop buscamos marcar la diferencia, inyectando dosis de amor y calor humano a nuestras mascotas. Contamos con un equipo de trabajo altamente calificado, 20 años de experiencia dedicados no solo a realizar una labor diaria, si no a fortalecer cada día su pasión y generar vínculos de confianza con sus pacientes.</p>

        <p>Nuestro principal objetivo es brindar la mejor Atención acompañada de un portafolio de Servicios Integrales, ofreciendo diariamente soluciones oportunas, coleccionando momentos inolvidables y dando seguridad y garantías a cada una de las familias que ponen en nuestras manos a ese ser especial.</p>
      </div>

    </section>

    <!-- Modal -->

    <div class="proveedores_content_imagenes">
      <div class="container_proveedores_text">
        <h3>NUESTROS PROVEEDORES</h3>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Totam <br>praesentium odit sunt voluptates.
          Corporis,
          aut?</p>
      </div>
      <div class="slider ">
        <div class="slide-track">
          <div class=" slide">
            <img src="assets/img/patrocinador3.avif" height="200" width="200" alt="">
          </div>
          <div class="slide">
            <img src="assets/img/patrocinador4.avif" height="200" width="200" alt="">
          </div>
          <div class="slide">
            <img src="assets/img/patrocinador5.avif" height="200" width="200" alt="">
          </div>
          <div class="slide">
            <img src="assets/img/patrocinador6.avif" height="200" width="200" alt="">
          </div>

          <div class=" slide">
            <img src="assets/img/patrocinador3.avif" height="200" width="200" alt="">
          </div>
          <div class="slide">
            <img src="assets/img/patrocinador4.avif" height="200" width="200" alt="">
          </div>
          <div class="slide">
            <img src="assets/img/patrocinador5.avif" height="200" width="200" alt="">
          </div>
          <div class="slide">
            <img src="assets/img/patrocinador6.avif" height="200" width="200" alt="">
          </div>


          <div class="slide">
            <img src="assets/img/patrocinador4.avif" height="200" width="200" alt="">
          </div>
          <div class="slide">
            <img src="assets/img/patrocinador5.avif" height="200" width="200" alt="">
          </div>
          <div class="slide">
            <img src="assets/img/patrocinador6.avif" height="200" width="200" alt="">
          </div>

          <div class="slide">
            <img src="assets/img/patrocinador4.avif" height="200" width="200" alt="">
          </div>
          <div class="slide">
            <img src="assets/img/patrocinador5.avif" height="200" width="200" alt="">
          </div>
          <div class="slide">
            <img src="assets/img/patrocinador6.avif" height="200" width="200" alt="">
          </div>
        </div>
      </div>
    </div>


    <footer>
      <div class="d-flex justify-content-around flex-wrap ">
        <div class="contact-us">
          <h4>Contactanos</h4>
          <hr>
          <div class="phone">
            <h5>WhatsApp</h5>
            <p class="whatsapp number"><i class="fa-brands fa-whatsapp "></i> +54 9 11 3431-0411</p>
          </div>
          <div class="phone">
            <h5>Teléfono</h5>
            <p class="whatsapp number"><i class="fa-solid fa-phone"></i></i> +54 9 11 3431-0411</a>
          </div>
          <div class="redes d-flex justify-content-between">
            <a href="" class="text-decoration-none"><i class="fa-brands fa-facebook pointer"></i></a>
            <a href="" class="text-decoration-none"><i class="fa-brands fa-twitter pointer"></i></a>
            <a href="" class="text-decoration-none"><i class="fa-brands fa-instagram pointer"></i></a>
            <a href="" class="text-decoration-none"><i class="fa-brands fa-whatsapp pointer"></i></a>
          </div>
        </div>
        <div class="newsletter">
          <h4>Newsletter</h4>
          <hr>
          <form class="d-flex flex-column form-footer" action="">
            <input type="text" name="" id="" placeholder="Nombre" required>
            <input type="email" name="" id="" placeholder="Correo" required>
            <input type="submit" value="Suscríbete!" class="submit">
          </form>
        </div>
        <div class="medios">
          <h4>Medios de pago</h4>
          <hr>
          <img src="./assets/img/medios-de-pago.png" alt="">
        </div>
      </div>
      <div class="abajo">
        <div class="d-flex copyright justify-content-between">
          <p class="text-center">Veni a nuestra sucursal: <b class="button-map" data-bs-toggle="modal"
              data-bs-target="#exampleModal2">Rio de Janeiro 300 (Caballito)</b></p>
          <p class="text-center">© 2022 Cohort 29 • Todos los derechos reservados.</p>

        </div>
      </div>
    </footer>



</body>
   <script type="text/javascript" src="https://cdn.jsdelivr.net/gh/yesiamrocks/cssanimation.io@1.0.3/letteranimation.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
<script src="https://kit.fontawesome.com/db55518b9d.js" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css'></script>
<script src="https://unpkg.com/vue@3"></script>
<script src="main.js"></script>
<script>
  $(document).ready(function () {
    $("#sidebarCollapse").on("click", function () {
      $("#sidebar").addClass("active");
    });

    $("#sidebarCollapseX").on("click", function () {
      $("#sidebar").removeClass("active");
    });

    $("#sidebarCollapse").on("click", function () {
      if ($("#sidebar").hasClass("active")) {
        $(".overlay").addClass("visible");

      }
    });

    $("#sidebarCollapseX").on("click", function () {
      $(".overlay").removeClass("visible");
    });
  });


  
  
  
</script>

</html>